.headerPic {
    position: relative;
    top: 0px;
  }

  body {
    background: url(background.jpg);
    background-repeat: repeat;
    font-family: "Arial";
    font: Arial;
  }

  .navbar {
  overflow: hidden;
  background-color: #333;
  width: 70%;
  float: right;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.left-content-box{
  background-color: lightgrey;
  width: 30%;
  height: 650px;
  float: left;
}

.inline{
  float: left;
}

.clearBoth{
  clear: both;
}

.black{
  color: black;
}
.green{
  color: green;
}

.red {
 color : red;
}

.phone{

  position: absolute;
  left: 125px;
  top: 650px;
  border: solid black;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.phoneNo:hover + .phone{
  display: block;
}

.email{

  position: absolute;
  left: 125px;
  top: 710px;
  border: solid black;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.emailAddr:hover + .email{
  display: block;
}

.web{

  position: absolute;
  left: 125px;
  top: 780px;
  border: solid black;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.webpage:hover + .web{
  display: block;
}

.fax{

  position: absolute;
  left: 125px;
  top: 840px;
  border: solid black;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.faxno:hover + .fax{
  display: block;
}

.right-content-box {
  position: absolute;
  right: 200px;
  top: 375px;
}


.footer {
   position: absolute;
   top: 920px;
   width: 99%;
   height: 65px;
   background-color: rgba(0, 0, 0, 0.7);
   color: white;
   text-align: right;
}
